@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");
header nav h1 a {
  margin: 0;
  font-size: 0.8em;
  font-family: Inter;
  font-weight: bolder;
  text-decoration: none;
  color: black;
}
@media (max-width: 991.98px) {
  header nav h1 a {
    font-size: 0.6em;
  }
}
header nav .nav-links a {
  text-decoration: none;
  color: #141414;
}
header nav .nav-btn-section a {
  color: white;
  font-weight: 600;
}
header nav .nav-btn-section .r-btn {
  background-color: #4d13d1;
  color: white;
}

header {
  background-color: #fbf8f3;
}

.section-1 {
  background-color: #fbf8f3;
}
.section-1 .Credit-Templates {
  display: flex;
}
@media (max-width: 397px) {
  .section-1 .Credit-Templates {
    flex-direction: column;
    margin: auto;
  }
}
.section-1 .container .button-section {
  font-weight: 500;
}
.section-1 .container .button-section .btn {
  font-size: 1rem;
  font-family: Inter;
  background-color: #4d13d1;
  color: white;
}
.section-1 .container .button-section .link {
  color: #4d13d1;
}
.section-1 .container .create-portfolio {
  font-size: 3em;
  font-weight: 700;
}
@media (max-width: 991.98px) {
  .section-1 .container .create-portfolio {
    font-size: 2rem;
  }
}
@media (max-width: 400.98px) {
  .section-1 .container .create-portfolio {
    font-size: 1.5rem;
  }
}
.section-1 .image-for-1 {
  width: 80%;
}
.section-1 .image-for-1 img {
  display: block;
  width: 100%;
}

.section-2 .why-fiber {
  color: #4d13d1;
}
.section-2 .specific .article {
  max-width: 300px;
}
.section-2 .Diversify-image {
  justify-content: space-between;
  background-color: #4d13d1;
  border-radius: 1em;
}
.section-2 .Diversify-image h2 {
  font-size: 2rem;
}
@media (max-width: 991.98px) {
  .section-2 .Diversify-image h2 {
    font-size: 1.5rem;
  }
}
.section-2 .Diversify-image .texts {
  font-size: 0.8rem;
  width: 0.8rem;
  width: 100%;
  padding-block: 2em;
}
.section-2 .Diversify-image a {
  font-size: 0.8rem;
  color: #4d13d1;
  font-family: Inter;
  font-weight: bolder;
}
.section-2 .Diversify-image .image {
  width: 100%;
}
.section-2 .Diversify-image .image img {
  width: 100%;
}

.section-3 .article {
  border: rgba(136, 136, 136, 0.3333333333) solid 1px;
  border-radius: 0.3em;
}
.section-3 .article h6 {
  font-size: 0.8em;
  color: #4d13d1;
}
.section-3 .article p {
  font-size: 0.8em;
}
.section-3 .article .avatar-name {
  margin-bottom: 0.8em;
}
.section-3 .article .btn {
  font-family: Inter;
  color: #4d13d1;
  font-weight: 600;
  font-size: 0.8em;
  border: rgba(136, 136, 136, 0.3333333333) solid 1px;
}

footer {
  background-color: #fbf8f3;
  font-size: 0.8rem;
}
footer a {
  color: black;
  text-decoration: none;
}
footer .heart.icon {
  background-color: #4d13d1;
  color: #fff;
  position: absolute;
  margin-top: 6px;
  margin-left: 5px;
  width: 9px;
  height: 9px;
  border-left: solid 1px currentColor;
  border-bottom: solid 1px currentColor;
  transform: rotate(-45deg);
}
footer .heart.icon:before {
  background-color: #4d13d1;
  content: "";
  position: absolute;
  top: -5px;
  left: -1px;
  width: 8px;
  height: 5px;
  border-radius: 5px 5px 0 0;
  border-top: solid 1px currentColor;
  border-left: solid 1px currentColor;
  border-right: solid 1px currentColor;
}
footer .heart.icon:after {
  background-color: #4d13d1;
  content: "";
  position: absolute;
  top: 0px;
  left: 8px;
  width: 5px;
  height: 8px;
  border-radius: 0 5px 5px 0;
  border-top: solid 1px currentColor;
  border-right: solid 1px currentColor;
  border-bottom: solid 1px currentColor;
}
footer .fiber-text {
  width: min(100%, 330px);
}
footer h5 {
  font-size: 0.8rem;
}
footer .text {
  max-width: min(100%, 300px);
}
footer ul {
  font-size: 0.8rem;
  padding: 0;
  list-style-type: none;
}
footer ul li {
  margin-bottom: 0.2em;
}/*# sourceMappingURL=style.css.map */